<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.owner.myunist_info" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainicon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Introduction"
            android:label="@string/title_activity_introduction"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyPage_Option"
            android:label="@string/title_activity_my_page__option"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Authentication"
            android:label="@string/title_activity_authentication"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Attendance"
            android:label="@string/title_activity_attendance"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SendMessage"
            android:label="@string/title_activity_send_message"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DeveloperInfo"
            android:label="@string/title_activity_developer_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LecPage_Popup"
            android:label="LecPage_Popup"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".Splash1"
            android:screenOrientation="portrait"
            android:label="UNIST Info"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash2"
            android:label="@string/title_activity_splash2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SendEmailForGift"
            android:label="@string/title_activity_send_email_for_gift" >
        </activity>
        <activity
            android:name=".FAQ"
            android:label="FAQ" >
        </activity>
    </application>

</manifest>
